@import "https://fonts.googleapis.com/css2?family=Mulish:wght@200&family=Roboto:wght@100&display=swap";
@import "side-portals.css";

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.side-by-side {
    display: flex;
}

.collide-button {
    background-color: transparent !important;
    border: 1px solid white !important;
    transition: all .12s, box-shadow .06s ease-in;
    cursor: default;
}

.collide-button.over {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

.button, .collide-button {
    /*appearance: button;*/
    backface-visibility: hidden;
    background-color: #405cf5;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #eeeeee;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: 1.1em;
    height: 44px;
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
}

.scroll {
    overflow-y: auto;
}

.scroll::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: transparent;
}

.scroll::-webkit-scrollbar
{
    width: 10px;
    background-color: transparent;
}

.scroll::-webkit-scrollbar-thumb
{
    background-color: #F90;
    background-image: -webkit-linear-gradient(45deg,
    rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent)
}

.button:hover {
    background-color: #4763fc;
}

.button:disabled {
    cursor: default;
}

body {
    background-color: rgb(26, 27, 29);
    color: rgba(255, 240, 249, 0.801);
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    min-height: 100vh;
}

body * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.circle {
    position: absolute;
    contain: strict;
    will-change: opacity;
    z-index: -1;
}

#bee {
    width: 70px;
    height: auto;
    position: absolute;
    visibility: hidden;
}

#bee-text {
    position: absolute;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fa8212;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fa8212;
    cursor: pointer;
}

@keyframes collide-button-collision {
    0% {
        background-color: white;
    }
    100% {
        background-color: white;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}