:root {
    --border-color: #c5c5c5;
    --menu-fade-out-animation: 1s fade-out;
    --curr-counter-animation: none;
    --game-menu-fadein-animation: fade-in 0.4s forwards;
    --achivement-animation: achivement-slide-in 3.4s;
}

#achivement {
    position: absolute;
    left: 50%;
    bottom: 0;
    padding: 5px;
    padding-bottom: 20px;
    transform: translateX(-50%) translateY(100%);
    background-color: rgba(0, 0, 0, 0.2);
    width: 18em;
    border-radius: 1em;
    text-align: center;

}

@keyframes achivement-slide-in {
    0% {transform: translateX(-50%) translateY(100%);}

    25% { transform: translateX(-50%) translateY(-50%); }
    75% { transform: translateX(-50%) translateY(-50%); }

    100% {transform: translateX(-50%) translateY(100%);}
}

#end-screen {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: none;
}

#end-screen h1 {
    font-size: 5em;
    margin-top: 1.5em;
}

#end-screen h2 {
    font-size: 3em;
}

#end-screen-game-data {

}

#end-screen-buttons {
    width: 30em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8em;
    gap: 1em;
}

#end-screen .button, #end-screen .collide-button {
    height: 4em;
}

#game-text * {
    animation: game-text-slide forwards;
    transform: translateX(100%);
}

#score-table {
    /*border: 1px solid #6a6a70;
    box-shadow: 0px 0px 5px 1px #1a1a1a;
    border-radius: 16px;*/
    border-right: 1px solid var(--border-color);
    backdrop-filter: blur(2px);
    width: 35em;
    height: 100vh;
    background-color: rgba(32, 34, 51, 0.4);
}

#score-table-selection {
    font-size: 1.5em;
    border-bottom: 1px solid var(--border-color);
    text-align: center;
}

#score-table-selection :nth-child(1) {
    border-right: 1px solid var(--border-color);
}

.score-table-selection-option {
    width: 100%;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
    cursor: pointer;
    color: #fcfcfc;
}

.score-table-selection-option.on {
    background-color: #3d57e5;
    color: white;
}

.score-table-row * {
    margin: 0;
}
.score-table-row {
    border-bottom: 1px solid var(--border-color);
    padding: 0.8em;
}

.score-table-row:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.score-rank {
    font-size: 2.2em;
    font-weight: bold;
    color: #ffffff;
    margin-right: 0.5em;
}

.score-rank.first {
    color: gold;
}

.score-name {
    color: white;
    font-size: 1.2em;
}

.score-date {
    font-size: 0.85em;
}

.score-data {
    margin-left: auto;
    text-align: center;
    /* This is game-specific, so the game itself will make it fit. */
}

#top-score-header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 5em;
}

#menu-content {
    margin-left: auto;
    margin-right: auto;
}

#game-description {
    margin-top: 5em;
}

#game-description {
    margin-left: auto;
    margin-right: auto;
}

#top-score-header .button {
    margin-top: 5em;
}
#top-score-header #scores-div {
    gap: 2em;
}

/* Seems like it does nothing. */
/*#play-button {
    cursor: unset;
}

#play-button:hover {
    background-color: #405cf5;
}

#play-button.collided {
    background-color: #657eff;
}*/

#play-button {
    width: 19em;
}

#menu .collide-button {
    height: 4em;
}

#menu {
    opacity: 0;

    animation: 1s fade-in 4s forwards;
}

#game {
    display: none;
}

#game-menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
    /* So that it is above the game (under the overlay). */
    z-index: 1;
}

#game-menu-buttons {
    width: 23em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10em;
}
.game-menu-button {
    height: 4.1em;
}

#game-text {
    animation: 0.5s fade-out 3.7s forwards;
    animation-timing-function: linear;
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background-color: rgba(62, 73, 107, 0.6);
    backdrop-filter: blur(2px);
    font-style: oblique;
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
}

#game-text h1 {
    animation-timing-function: inherit;
    animation-duration: 4s;

    font-family: "Arial Black";
    font-weight: 600;
    font-size: 3.3em;
    color: orange;
}

#game-text p {
    animation-timing-function: inherit;
    animation-duration: 3.2s;
    animation-delay: 0.5s;

    font-weight: 600; /* 500 is nice too. */
    font-size: 1.5em;
    color: #fcfcfc;
}

#counter {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10em;
}

#counter:after {
    content: "";
    animation: var(--curr-counter-animation);
}

@keyframes counter-animation {
    0% {content: "3"}
    33% {content: "3"}
    34% {content: "2"}
    66% {content: "2"}
    67% {content: "1"}
    99% {content: "1"}
}

@keyframes game-text-slide {
    0% {
        transform: translateX(100%);
    }
    20% {
        transform: translateX(5%);
    }
    80% {
        transform: translateX(-5%);
    }
    100% {
        transform: translateX(-100%);
    }
}