#header {text-align: center;}
#canvas {pointer-events: none;}
.portal {
    position: absolute;
    width: 6em;
    height: 6em;

    border-radius: 4em;
    border: 2px solid orange;
    box-shadow: 0px 0px 40px 1px orange;
    animation: portal-pulse 2s infinite;
    animation-timing-function: linear;
}

@keyframes portal-pulse {
    0% {
        box-shadow: 0px 0px 40px 1px orange;
        transform: scale(1);
    }
    50% {
        box-shadow: 0px 0px 26px 1px orange;
        transform: scale(1.05);
    }
    100% {
        box-shadow: 0px 0px 40px 1px orange;
        transform: scale(1);
    }
}

#title {
    margin-top: 3em;
    text-align: center;
}

#draw-canvas {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    cursor: crosshair;
    display: none;
}

#draw-canvas h2 {
    position: absolute;
    right: 30px;
    font-size: 1.7em;
    bottom: 0;
}

.point {
    width: 10px;
    position: absolute;
    pointer-events: none;
}

.shape {
    width: 3em;
    height: 3em;
    margin-right: 0.3em;
    transition: 0.2s;
    border-radius: 10px;
    color: #b4b4b4;
    /*border: 2px solid #969393;
    border-radius: 10px;*/
}

#pencil-speed-slider .slider {
    width: 80%;
}

#pencil {
    margin-top: 1em;
    margin-right: 0.5em;
}

.shape:hover {
    cursor: pointer;
    color: rgb(128, 141, 215);
}

.shape.on {
    color: rgb(64, 92, 245);
}

.slider {
    -webkit-appearance: none;
    height: 15px;
    border-radius: 5px;
    background: #ffffff;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    width: 100%;
}

#cycle-hue-button.off {
    color: #8c8c8c;
}

#cycle-hue-button.on {
    color: #ff9e76;
}

#cycle-hue-button {
    width: 4em;
    height: 4em;
    cursor: pointer;
    margin-top: 1em;
    transition: 0.1s;
}

#cycle-speed-slider .slider {width: 100%;}

#cycle-speed-slider {
    margin-bottom: 1.5em;
}

#hue-slider-container .setting {
    margin-bottom: 6em;
}

#hue-slider-container {
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    gap: 0.5em;
    margin-bottom: -5em;
}

/*#cycle-hue-button:hover {color: #ffd5c1;}*/

#hue-slider-div p {
    font-size: 1.2em;
    /* Othetwise there's a large space between the slider and it's title. */
    margin: 2em 0 -2em 1em;
    padding-bottom: 10px; /* So that there's some space between the slider and it's title. */
}

#settings-save-confirmation {
    opacity: 0;
    animation: wait-and-fade-out 2s ease-in;
    margin-left: 1em;
}

#settings-menu .side-by-side {
    gap: 1em;
}

#save-settings-button {
    width: 13em;
}

#save-settings-button .saved {
    border: none;
}

#save-settings-button.unsaved {
    border: 3px solid rgba(205, 92, 92, 0.6);
}

#reset-settings-button {
    width: 8em;
}

.pilot-button {
    border-radius: 4px;
    background-color: #fa8212;
    border: none;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;

    padding: 0; /* So that the text inside is not offsetted. */
    height: 2.5em;
    width: 9em; /* So that the larger text that we add to it in js fit it. */
    font-size: 1.5em; /* So that the text inside is not huge. */
    outline: none;
}

.pilot-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-size: 1em;
}

.pilot-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.pilot-button:hover span {
    padding-right: 25px;
}

.pilot-button:hover span:after {
    opacity: 1;
    right: 0;
}

@keyframes wait-and-fade-out {
    0% {opacity: 1;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

#hue-slider-div {
    width: 30%; /* Otherwise it would be as small as possible. */
    min-width: 20em;
}

#hue-slider {
    margin-top: 3.3em;
}

.small-slider {
    width: 5em;
    margin-right: 1em;
}

/* Make the thumb of a slider smaller. */
.small-slider::-webkit-slider-thumb {
    width: 1.3em;
    height: 1.3em;
}

#action-center {
    white-space:nowrap;
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: flex-start;
    /*justify-content: center;*/
    align-items: center;
    gap: 5em;

    overflow: hidden;
}

#pilot-order {font-size: 1.8em;}

.default-value {
    color: #8891b2;
    cursor: pointer;
}

.setting {
    margin: 1em 0;
}

.setting-name {
    display: block;
}

.setting .slider {
    width: 20em;
    margin-top: 8px;
}

#settings-menu-icon {
    height: 4em;
    width: 4em;
    cursor: pointer;
}

#settings-menu-container {
    position: absolute;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    transition: 0.5s;
}

#settings-menu {
    padding: 2em 3em 1em 1em;
    border-radius: 1em;
    backdrop-filter: blur(2px);
    background-color: rgba(49, 41, 43, 0.88);
}