.center {
    height: 100px;
    line-height: 100px;
    text-align: center;
}

.portal {
    position: absolute;
    width: 8em;
    height: 8em;
}

#canvas {
    pointer-events: none;
}

.slider {
    -webkit-appearance: none;
    height: 15px;
    border-radius: 5px;
    background: #ffffff;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    width: 100%;
}

#action-center {
    width: 100%;
    border-bottom: 1px solid rgb(255, 115, 0, 0.2);
    overflow: hidden;
    /* add this to contain floated children */
}

#hue-slider-div {
    width: 32.5%;
    display: inline-block;

    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#pilot-button-div {
    width: 32.5%;
    display: inline-block;
}

#settings-div {
    width: 32.5%;
    width: 32.5%;
    display: inline-block;
}

#pilot-button {
    float: left;
    padding: 0;
    height: 2.5em;
    width: 9em;
    font-size: 1.5em;
    outline: none;
    margin: 0 1em;
}

#hue-slider-div p {
    text-align: center;
    font-size: 1.2em;
    margin: 0;
    padding: 0 0 10px;
}